/* 전체 리셋 시키기 */
*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ol,ul,li{
    list-style: none;
}
main,footer{
    width: 90%;
    margin: 0 auto;
}
/* ================================================ */

header {
    border-bottom: 1px solid gray;
}

.header-area{
    height: 85px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color: #333333;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
#main-menu{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li{
    margin-right: 40px;
}
.main-box{
    margin-top: 50px;
    /* border: 1px solid red; */
    margin-bottom: 70px;
}
.maintitlebox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    

}

.maintitle{
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.outbox{
    display: flex;
    overflow: hidden;
}
.inbox img{
    margin-right: 10px;
}

/* 섹션1 */
.sec1title{
    margin-bottom: 50px;
    /* font-size: 38px;
    font-weight: 400; */
    display: flex;
    align-items: center;
    height: 72px;
}
.gunggu img{
    width: 72px;
    height: 72px;
}
.title h1{
    font-size: 38px;
    font-weight: 400;
}

.sec1-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1-box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1-box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1box{
    background-color: #F3F3F3;
    padding: 40px;
    margin: 10px;
    width: 650px;
    height: 159px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec1box:nth-child(2){
    margin-right: 0;
}
.sec1img{
    width: 200px;
    height: 50px;
    display: flex;
    margin: 30px;
    align-items: center;
}
.sec1img p{
    width: 50px;
}

.sec1img p img{
    width: 100%;
    margin-right: 10px;
}
.sec1img img:last-child{
    margin-right: 0;
}

.sec1box p{
    font-size: 18px;
    font-weight: bold;
}
.sec1 .service{
    cursor: pointer;
    background-color: #f3f3f3;
    width: 279px;
    height: 60px;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.service .servicebutton{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    margin-left: 10px;
}

/* 섹션2 */
.sec2 .title{
    margin-bottom: 30px;
}
.sec2-first-box .firstbox{
    width: 470px;
    height: 620px;
    background-color: #f3f3f3;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 20px;
}
.sec2-first-box .firstbox:last-child{
    margin-right: 0;
}

.sec2-first-box .firstbox .text-box{
    width: 427px;
    height: 362px;
    padding: 30px;
}
.sec2-first-box{
    display: flex;
}

.sec2-first-box .firstbox p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    
}
.text-box .text-box-first-text{
    margin-bottom: 170px;
}
.text-box-title{
    display: flex;
}
.bodo{
    width: 82px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;    
    font-size: 13px;
    margin-right: 10px;
}
.text-box-title p{
    color: grey;
}
.sec2-second-box{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.secondbox{
    width: 650px;
    height: 198px;
    padding: 36px;
    background-color: #f3f3f3;
    border-radius: 30px;
}
.secondbox-titlebox{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.secondbox-titlebox img{
    width: 38px;
    height: 38px;
}
.secondbox-titlebox img,p{
    margin-right: 10px;
}
.secondbox-titlebox .bodo2{
    width: 73px;
    height: 33px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    margin-right: 10px;
}
.secondbox .second-secondtext{
    font-size: 20px;
    font-weight: 600;

}

.sec2-third-box{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}
.sec2-third-box .thirdbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    color: black;
    border-radius: 30px;
    width: 500px;
    height: 110px;
    padding: 36px 40px;
    margin-right: 10px;
}
.sec2-third-box .thirdbox:last-child{
    margin-right: 0;
}
.thirdbox p:first-child{
    font-size: 20px;
    font-weight: bold;
}

/* 섹션3 */
/* tilte부분 */
.sec3title{
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* 섹션3 아웃박스 */
.sec3-outbox{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec3-outbox img{
    margin-right: 10px;
    width: calc(33.333% - 10px);
    height: 650px;
}
.sec3-outbox img:last-child{
    margin-right: 0;
}
.sec3-outbox img:first-child{
    margin-left: 0;
}
/* 섹션4 */
.sec4 .service{
    cursor: pointer;
    background-color: #f3f3f3;
    width: 279px;
    height: 60px;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
/* 푸터영역 */
.footer-title{
    margin-top: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-menu{
    display: flex;
}
.footer-menu ul{
    margin-right: 40px;
}
.footer-menu ul:last-child{
    margin-right: 0;
}
.footer-menu li{
    margin-bottom: 15px;
}
.footer-menu li a{
    color: grey;
}
.footer-menu .menu4{
    margin-top: 30px;
}
.footer-bottom{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer-bottom-menu{
    display: flex;
}
.footer-bottom-menu li{
    margin-right: 10px;
}
.footer-bottom-menu li:last-child{
    margin-right: 0;
}
.footer-bottom-box{
    background-color: #f3f3f3;
    border-radius: 30px;
    width: 160px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}