.header-area{
    height: 85px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color: #333333;
    align-items: center;
    border-bottom: 1px solid gray;

}
#main-menu{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
li{
    margin-right: 40px;
}
.main-box{
    margin-top: 50px;
    /* border: 1px solid red; */
    margin-bottom: 70px;
}
.maintitlebox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.maintitlebox .button{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}
.maintitle{
    font-weight: 400;
    margin-bottom: 30px;
}
.outbox{
    display: flex;
    overflow: hidden;
}
.inbox img{
    margin-right: 10px;
}
.main-box .button{
    cursor: pointer;
}
.main-box .button:hover{
    background-color: yellowgreen;
}

/* 섹션1 */
.sec1title{
    margin-bottom: 50px;
    /* font-size: 38px;
    font-weight: 400; */
}
.title h1{
    font-size: 38px;
    font-weight: 400;
}

.sec1-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1-box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1-box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1box{
    background-color: #F3F3F3;
    padding: 40px;
    margin: 10px;
    width: 650px;
    height: 159px;
    border-radius: 40px;
    display: flex;
    /* justify-content: space-between;sec1title1 */
    align-items: center;
}
.sec1box:nth-child(2){
    margin-right: 0;
}
.sec1img{
    width: 100px;
    height: 50px;
    display: flex;
    margin: 30px;
}
.sec1img img{
    margin-right: 10px;
}
.sec1img img:last-child{
    margin-right: 0;
}

.sec1box p{
    font-size: 18px;
    font-weight: bold;
}
.sec1 .service{
    cursor: pointer;
    background-color: #f3f3f3;
    width: 279px;
    height: 60px;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.service .servicebutton{
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    margin-left: 10px;
}

/* 섹션2 */
.sec2 .title{
    margin-bottom: 30px;
}
.sec2-first-box .firstbox{
    width: 427px;
    height: 620px;
    background-color: #f3f3f3;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 20px;
}
.sec2-first-box .firstbox:last-child{
    margin-right: 0;
}

.sec2-first-box .firstbox .text-box{
    width: 427px;
    height: 362px;
    padding: 30px;
}
.sec2-first-box{
    display: flex;
}

.sec2-first-box .firstbox p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    
}
.text-box-title{
    display: flex;
}
.bodo{
    width: 82px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;    
    font-size: 13px;
    margin-right: 10px;
}
.text-box-title p{
    color: grey;
}